<section id="{{ item.data.title | slugify}}" class="intro">
  {% include "./prev.njk" %}
  <header>
    <h1>{{item.data.title | markdownifyInline | safe }}</h1>
     {{item.templateContent | safe}} 
   </header>
  {% include "./next.njk" %}
</section>

