<section class="menubar">
    <nav>
        <ul>
            {% for item in collections.prez %}
                <li {% if item.data.type == "intro" %} class="active"{% endif %}>
                    <a href="#{{ item.data.title | slugify }}">
                        {% if item.data.type == "example" %}
                            {% include "../icons/iconText.njk" %}
                        {% elif item.data.type == "text" %}
                            {% include "../icons/iconText.njk" %}
                        {% elif item.data.type == "url" %}
                            {% include "../icons/iconTalk.njk" %}
                        {% elif item.data.type == "demo" %}
                            {% include "../icons/iconCircle.njk" %}
                        {% elif item.data.type == "intro" %}
                            {% include "../icons/iconTalk.njk" %}
                        {% endif %}
                        <span class="menuTitle">{{ item.data.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</section>
