{% set previousPost = collections.prez | getPreviousCollectionItem(item) %}
{% if previousPost %} <a class="prevnext previous" href="#{{ previousPost.data.title | slugify}}"> {% include "../icons/arrowToLeft.njk" %} <span class="text">{{ previousPost.data.title }}</span></a>{% endif %}
