{% extends "base.njk" %}
{% block headerSup %}
    <link rel="stylesheet" type="text/css" href="/css/green-audio-player.css">
<script src="/js/green-audio-player.js"></script>

{% endblock headerSup %}


{% block content %}

    {% for item in collections.prez  %}
      {% if 'example' == item.data.type %}
        {% include "modules/example.njk" %}

      {% elif 'text' == item.data.type %}
        {% include "modules/text.njk" %}

      {% elif 'url' == item.data.type %}
        {% include "modules/url.njk" %}

      {% elif 'demo' == item.data.type %}
        {% include "modules/demo.njk" %}
      {% elif 'intro' == item.data.type %}
        {% include "modules/intro.njk" %}
      {% endif %}

    {% endfor %} 



{% endblock content %}

{% block menu %}
    {% include "./modules/menu.njk" %}
{% endblock %}

{% block endscripts %}
<script> GreenAudioPlayer.init({
    selector: '.audioplayer', // inits Green Audio Player on each audio container that has class "player"
    stopOthersOnPlay: true
});
</script>
<script src="/js/leader-line.min.js"></script>
<script src="/js/dialoglines.js"></script>
{% endblock endscripts %}









